[Unit]
Description=HeatingPi startup service.
Requires=apache2
After=apache2
PartOf=apache2

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/bin/bash /usr/local/bin/heating-pi-init.sh

[Install]
WantedBy=multi-user.target
